<Bar Breakpoint="Breakpoint.Desktop">
    <BarBrand>
        @*Include icon*@
        heh
    </BarBrand>
    <BarToggler/>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/search">Search</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/install">Installation</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/doc">Documentation</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary">Sign up</Button>
                <Button Color="Color.Secondary">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>


@code {

}